body {
    font-family: "Crete Round", Roboto, sans-serif;
}

@media (max-width: 1280px) {
    #hookSection {
        background-image: url("../Resources/Images/Hook/ImageHook19.png");
    }
    #browserSection {
        background-image: url("../Resources/Images/BrowserBox/ImageBrowserBox19.jpg");
    }
}

@media (min-width: 1281px) and (max-width: 1680px) {
    #hookSection {
        background-image: url("../Resources/Images/Hook/ImageHook22.png");
    }
    #browserSection {
        background-image: url("../Resources/Images/BrowserBox/ImageBrowserBox22.jpg");
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {
    #hookSection {
        background-image: url("../Resources/Images/Hook/ImageHook24.png");
    }
    #browserSection {
        background-image: url("../Resources/Images/BrowserBox/ImageBrowserBox24.jpg");
    }
}

@media (min-width: 1921px) {
    #hookSection {
        background-image: url("../Resources/Images/Hook/ImageHook27.png");
    }
    #browserSection {
        background-image: url("../Resources/Images/BrowserBox/ImageBrowserBox27.jpg");
    }
}