@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

body {
  font-family: "Crete Round", Roboto, sans-serif;
}

.rounded-10 {
  border-radius: 10px;
}

.bg-pos-center {
  background-position: center;
}

a, a:hover, a:focus {
  text-decoration: none;
}

/* Ne marche pas sans la ligne d'avant */
.link-simple-style {
  color: rgba(1, 13, 20, 1); /* Rich Black FOGRA 29 */
  text-decoration: none;
}

.link-simple-style:focus, .link-simple-style:hover, .link-simple-style:link, .link-simple-style:visited {
  color: rgba(1, 13, 21, 0.7);
  text-decoration: none;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover, .link-unstyled:focus {
  color: inherit;
  text-decoration: none;
}


.text-size-1 {
  font-size: 1rem;
}

.text-size-2 {
  font-size: 1.5rem;
}

.text-size-3 {
  font-size: 2rem;
}

.text-size-4 {
  font-size: 2.5rem;
}

.text-size-5 {
  font-size: 3rem;
}

//xs < sm < md <lg
@include media-breakpoint-up(md) {
  .max-width-md-35 {
    max-width: 30%;
  }
}

button.close {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
